
nav a{
    display: inline-block;
}

.container{
    padding:100px;
}


.band-image{
    max-width: 100%;
}

/* MUSIC PAGE RULES */
.ik-photo-grid img{
    max-width: 100%;
}

.bio-content p{
    margin-top: 1000px;
    font-size: 2.0em;
}